body {
  font-family: Arial;
  background-color: black;
}

h1, h2 {
  color: white;
  text-align: center;
}

table {
  width: 300px;
  color: white;
  border: solid;
  border-collapse: collapse;
}

th {
  border: solid;
  border-width: thin;
  padding: 10px;
}

td {
  border: solid;
  border-width: thin;
  padding: 10px;
}

tr {
  border: solid;
  border-width: thin;
  padding: 10px;
}

div {
  width: 1500px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
}


/*ul {
  color: white;
}
  ul:hover, ul.on {
    color: #cc6600;
    font-family:   Times;
    background-color: black;
    text-transform: uppercase;
  }*/

  footer {
    color: #cc6600;
  }
